DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=uzvibes.com,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://uzvibes.com
DJANGO_ADMIN_PATH=replace-with-secret-path/
DJANGO_STATIC_URL=/django-static/
DJANGO_STATIC_ROOT=/path/to/staticfiles
DJANGO_SQLITE_PATH=/path/to/db.sqlite3
DJANGO_SESSION_COOKIE_SECURE=true
DJANGO_CSRF_COOKIE_SECURE=true
DJANGO_SECURE_SSL_REDIRECT=0
